/* DARJEELING LIMITED COLORS */

.dar-hex1 {
    background-color: #0D6CE8;
  }
  
  .dar-hex2 {
    background-color: #8ACAF0;
  }
  
  .dar-hex3 {
    background-color: #ABBBC7;
  }
  
  .dar-hex4 {
    background-color: #687075;
  }
  
  .dar-hex5 {
    background-color: #3B5657;
  }
  
  .dar-hex6 {
    background-color: #B45E3B;
  }

  .darjeeling-arrow:hover {
    color: #0D6CE8;
  }