* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-container {
  padding-bottom: 2.5rem
}

#title {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  text-align: left;
  font-size: 10.5vw;
  margin-top: 15px;
  margin-left: 10vw;
}

#hex-title {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

.homepage {
  font-size: 3.5vw;
  margin-left: 10vw;
}

#budapest-main-image, #moonrise-main-image, #chevalier-main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

#photo-wrapper {
display: grid; 
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 10px;
justify-items: center;
align-items: center;
}

.budapest-small-image {
  width: 40vw;
  grid-row: 1 / 2;
  grid-column: 1 / 2; 
}

.moonrise-small-image {
  width: 40vw;
  grid-row: 1 / 2;
  grid-column: 2 / 3; 
}

.chevalier-small-image {
  width: 40vw;
  grid-row: 2 / 3;
  grid-column: 1 / 2; 
}


.budapest-small-image:hover, .moonrise-small-image:hover, .chevalier-small-image:hover {
  opacity: 0.6; 
}

#budapest-hexcodes, #moonrise-hexcodes, #chevalier-hexcodes {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2px;
}

.hex1, .hex2, .hex3, .hex4, .hex5, .hex6 {
  height: 18vw;
  width: 12vw;
}


.hex1:hover, .hex2:hover, .hex3:hover, .hex4:hover, .hex5:hover, .hex6:hover {
  background-color: black;
  color: white;
}

.hex1 p, .hex2 p, .hex3 p, .hex4 p, .hex5 p, .hex6 p {
  color: white;
  text-align: center;
  font-size: 3.25vw;
  padding-top: 10px;
  padding-left: 2px;
  font-weight: 400;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 1.5px;
}

.buda-hex1 {
  background-color: #4B0100;
}

.buda-hex2 {
  background-color: #900403;
}

.buda-hex3 {
  background-color: #4E1042;
}

.buda-hex4 {
  background-color: #806150;
}

.buda-hex5 {
  background-color: #C76B4F;
}

.buda-hex6 {
  background-color: #D8AA88;
}

.moon-hex1 {
  background-color: #AA4808;
}

.moon-hex2 {
  background-color: #F69B3F;
}

.moon-hex3 {
  background-color: #F2E3A3;
}

.moon-hex4 {
  background-color: #E6D494;
}

.moon-hex5 {
  background-color: #AEBDAA;
}

.moon-hex6 {
  background-color: #94AEA4;
}

.chev-hex1 {
  background-color: #C68130;
}

.chev-hex2 {
  background-color: #E0A517;
}

.chev-hex3 {
  background-color: #CBB22F;
}

.chev-hex4 {
  background-color: #6C6323;
}

.chev-hex5 {
  background-color: #B69D87;
}

.chev-hex6 {
  background-color: #E5DFE4;
}

.fa-arrow-alt-circle-left {
  font-size: 8vw;
  color: black;
  text-decoration: none;
}

.moonrise-arrow:hover {
  color: #94AEA4;
}

.budapest-arrow:hover {
  color: #D8AA88
}

.chevalier-arrow:hover {
  color: #CBB22F;
}

.citation {
  margin-left: 10vw;
  margin-bottom: 3rem;
}

.citation h3 {
font-weight: 700;
font-size: 3.5vw;
}

.citation h4 {
font-weight: 400;
font-size: 3.33vw;
}

.citation h6 {
  font-weight: 400;
font-size: 2.5vw;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
}

footer h5 {
  font-weight: 600;
  color: white;
  background-color: black;
  letter-spacing: 1.15px;
}

footer h6 {
  color: white;
  background-color: black;
  padding-bottom: 0.5rem;
  letter-spacing: 1.25px;
}